.containerImage {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
}

.displayText {
    padding-top: 10px;
}

.displayTextMiddle {
    padding-top: 10px;
    text-align: center;
    width: 100%
}

.containerTableTransition {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
}

.messageUL {
    padding-top: 10px;
    padding-left: 20px;
}

.cellTable {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px 8px;
    text-align: center;
}